<html>
    <head>
        <body>
            <h1>Welcome to the Prize Generator!</h1> 
                <br> <h2>You spin three fruit wheels and roll a dice.</h2><br>
                <br> <h2>If at least two fruit wheels match, you win 100 dollarydoos!</h2><br>
                <br> <h2>The amount won is multiplied by your dice roll!</h2><br>
                <br> <h2>Are you ready to spin and win?</h2><br>
                <br> 
                <br> <a href="{{url_for('prizegenerator')}}" type="button">Spin Me Up!</a> <br>
                <br> 
            </div>
        </body>
    </html>